@import "main.css";

/* ============ properties ============ */

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button:hover, a:hover, input:hover, .clickable:hover {
    cursor: url('/img/click.png') 0 0, auto; !important;
}

:not(button:hover, a:hover, input:hover) {
    cursor: url('/img/cursor.png') 0 0, auto; !important;
}

.sidebar-header {
    border: 1px solid #d9d9d9;
    background-color: #fff5e2;
}

.modal-header {
    height: 50px;
    border-bottom: 1px solid gray;
    background-color: #fff1e5;
    color: black;
    box-shadow: 0 1px 3px rgba(141, 105, 89, 0.2);
}

.custom-bg-col {
    background: #fdfcf9;
}

.form-btns {
    border: 1px solid gray;
    background-color: #fcf9e8;
    color: black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 20%);
}

.form-btns:hover {
    border: 1px solid gray;
    background-color: #fff9d3;
    color: black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 20%);
}

html, body {
    height: 100%;
}

.main-container {
    height: 100%;
}

.container-fluid.fade-in.mt-1 {
    height: calc(100% - 80px);
}

.row {
    height: 100%;
}

.side-bar {
    border: 1px solid #dcdbd6;
    height: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.modal {
    z-index: 1055; !important;
}

.modal-backdrop {
    z-index: 0; !important;
}

.toolbar {
    background: #fffdf5;
    border: 1px solid #d6d9dc;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
}

#graphDiv {
    flex-grow: 1;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* ============ anim ============ */

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.pulse {
    animation: pulse 2s infinite ease-in-out;
}

body {
    cursor: url('/img/cursor.png') 0 0, auto;
}
/* ============ radial menu pop-up ============== */