@import "main.css";

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 1rem 2rem 0.5rem;
}

.modal-header {
    height: 50px;
    border-bottom: 1px solid gray;
    background-color: #edf2ff;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 25%);
}

.form-btns {
    border: 1px solid gray;
    background-color: #dee7ff;
    color:black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 20%);
}

.form-btns:hover {
    border: 1px solid gray;
    background-color: #d3dfff;
    color:black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 20%);
}

.side-bar {
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 3px rgba(0, 0, 0, 10%);
}

html, body {
    height: 100%;
}

.main-container {
    height: 100%;
}

.container-fluid.fade-in.mt-1 {
    height: calc(100% - 80px); /* Subtract navbar height if needed */
}

.row {
    height: 100%;
}

.side-bar {
    height: 100%;
}

.toolbar {
    background: #eff3ff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 3px rgba(0, 0, 0, 10%);
}

#myDiagramDiv {
    flex-grow: 1;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}