@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ============ properties ============ */

.givefont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    font-style: normal;
}

.givegradient {
    background: linear-gradient(to right, rgba(0, 255, 255, 0.05), rgba(0, 0, 255, 0.05));
    transition: background 0.3s ease; /* Smooth transition for the background */
}
.label{
    font-size: 20px;
    font-weight: bold;
}
.givegradient:hover {
    background: linear-gradient(to right, rgba(0, 255, 255, 0.075), rgba(0, 0, 255, 0.075));
}

.properties ul li{
    margin-top: 10px;
}

.add-new-msg{
    /*margin-left: 10px;*/
    font-size: 13px;
    color: gray;
    font-style: italic;
}

.addbg {
    background-image: url("../img/land.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -100px;
    height: 100vh;
}

.custom-bg-col {
    background: #F9FBFD;
}

/* ============ anim ============ */

.fade-in {
    animation: fadeIn 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    opacity: 0;
}


.fade-in-slower {
    animation: fadeIn 1.75s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}