<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knowledge Graph Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/editor.css">
</head>
<body class="custom-bg-col">
<div class="main-container givefont custom-bg-col container-fluid">
    <nav class="navbar w-100 px-5 bg-transparent mx-auto">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="./img/logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
            <span class="ms-2 givefont">Knowledge Graph Editor</span>
        </a>
        <span th:if="${connectionData.connectionStatus()}">
            <i class="bi bi-database-check" style="color: #61be00; font-size: 17px;"></i>
            Connected to GDB <span th:text="${connectionData.getSessionConfig().database().get()}"
                                   class="fw-bold"></span>
        </span>
        <span class="pulse" th:if="${!connectionData.connectionStatus()}">
            <a href="/editor" class="me-2 btn text-dark btn-outline-primary btn-sm ms-2">
                <i class="bi bi-arrow-clockwise"></i> Reload
            </a>
            <i class="bi bi-database-exclamation" style="color: #b20000; font-size: 17px;"></i>
            Please launch the <a href="https://neo4j.com/download/" target="_blank">Neo4j</a> DBMS server, <span class="text-danger" style="font-weight: bolder">failed to connect</span> to GDB
            <span th:text="${connectionData.getSessionConfig().database().get()}" class="fw-bold"></span>
        </span>

        <a href="/" class="btn btn-outline-primary border-primary text-dark py-1 px-3 shadow-sm">
            <i class="bi bi-arrow-return-left"></i> Back
        </a>
    </nav>

    <div class="toolbar fade-in p-2 d-flex align-items-center mb-1 rounded">
        <button class="btn btn-sm btn-outline-secondary givefont me-2" id="add-node-btn" data-bs-toggle="modal"
                data-bs-target="#addNodeModal">
            <i class="bi bi-node-plus"></i> Add Node
        </button>


        <button class="btn btn-sm btn-outline-secondary givefont me-2" id="add-relationship-btn" data-bs-toggle="modal"
                data-bs-target="#addRelationshipModal">
            <i class="bi bi-link-45deg"></i> Connect Nodes
        </button>


        <button class="btn btn-sm btn-outline-danger givefont" id="delete-btn">
            <i class="bi bi-trash"></i> Delete
        </button>
    </div>

    <div class="container-fluid fade-in mt-1">
        <div class="row">
            <div class="side-bar toolbar rounded h-100 col-3">
                <div class="sidebar d-flex flex-column py-3 pe-2">
                    <h3 class="sidebar-header text-center">
                        <i class="bi bi-pencil-square"></i> Editing menu
                    </h3>

                    <hr>

                    <div>
                        <span><i class="bi bi-eye me-1"></i>Display name</span>
                        <span class="display-name badge text-bg-secondary" style="font-weight: bolder"></span>
                        <span> of label </span>
                        <span class="display-class badge text-bg-secondary"  style="font-weight: bolder; color: #3d6565"></span>
                        <span class="display-name-bin"></span>
                    </div>

                    <hr>

                    <div class="properties">
                        <p><i class="bi bi-gear me-1"></i>Properties:</p>
                        <ul class="list-unstyled" id="properties-list">
                        </ul>
                        <button class="btn btn-sm btn-outline-secondary givefont save-changes-button">
                            <i class="bi bi-save2 me-1"></i>
                            Save changes
                        </button>
                    </div>

                    <hr>
                </div>
            </div>

            <div id="graphDiv" class="fade-in col mx-auto w-100 ms-2 border-1"></div>
        </div>
    </div>

    <!-- Modal for Adding Node -->
    <div class="modal fade" id="addNodeModal" tabindex="-1" aria-labelledby="addNodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNodeModalLabel fw-bold"><i class="bi bi-node-plus m-1"></i>Node
                        Creation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nodeLabels" class="form-label">Label</label>
                        <input type="text" class="form-control" id="nodeLabels" placeholder="Enter node label">
                    </div>

                    <div class="properties">
                        <p class="label">Properties:</p>
                        <div class="mb-3">
                            <label for="propertyKey" class="form-label">
                                Display Name Key
                                <i class="bi bi-info-circle-fill ms-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="right"
                                   title="You can put any key here, it does not matter.">
                                </i>
                            </label>
                            <input type="text" class="form-control" id="propertyKey"
                                   placeholder="Enter arbitrary property key" value="displayName" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="propertyValue" class="form-label">
                                Display Name Value
                                <i class="bi bi-info-circle-fill ms-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="right"
                                   title="The string you input here will display on the node.">
                                </i>
                            </label>
                            <input type="text" class="form-control" id="propertyValue"
                                   placeholder="Enter property value">
                        </div>

                        <span>
                            <i class="bi bi-plus-circle-fill mx-1 add-property-btn"
                               style="cursor: pointer; color: dimgray; font-size: 1.3rem;">
                                <span class="add-new-msg">Add a new property</span>
                            </i>
                        </span>

                        <ul class="list-unstyled mt-3" id="propertyList">
                        </ul>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn form-btns" id="createNodeBtn">Create Node</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- add relationship modal -->

<div class="modal fade givefont" id="addRelationshipModal" tabindex="-1" aria-labelledby="addRelationshipModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="addRelationshipModalLabel"><i class="bi bi-link-45deg m-1"></i>Connect Nodes
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="connect-nodes-form">
                    <div class="mb-3">
                        <label for="node1" class="form-label">Node 1</label>
                        <select class="form-select" id="node1" required>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="node2" class="form-label">Node 2</label>
                        <select class="form-select" id="node2" required>
                        </select>
                    </div>

                    <div class="relType">
                        <div class="mb-3">
                            <label for="relationshipType" class="form-label">
                                Relationship Type
                                <i class="bi bi-info-circle-fill ms-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="right"
                                   title="This is the semantic meaning of the connection.
                                   The string you input here will display on the relationship.">
                                </i>
                            </label>
                            <input type="text" class="form-control" id="relationshipType"
                                   placeholder="Enter relationship type">
                        </div>
                    </div>

                    <div class="propertiesRel">
                        <ul class="list-unstyled mt-3" id="relationshipPropertyList">
                        </ul>
                        <span id="addRelationshipPropertyBtn">
                            <i class="bi bi-plus-circle-fill mx-1 add-property-btn"
                               style="cursor: pointer; color: dimgray; font-size: 1.3rem;">
                                <span class="add-new-msg">Add a new property</span>
                            </i>
                        </span>
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn form-btns" id="createRelationshipBtn">Create Relationship
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/gojs/release/go.js"></script>
<script type="module" src="./js/editor.js"></script>
</body>
</html>
