<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knowledge Graph Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="icon" type="image/png" href="/img/favicon.png" sizes="256x256">
</head>
<body class="m-0 p-0 w-100">
<div class="givebg container-fluid vh-100 w-100 p-0 custom-bg-col">

    <div class="row flex-column justify-content-center align-items-center container-fluid mb-5 mx-auto p-0 w-100">
        <nav class="navbar w-75 bg-transparent mx-auto">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="./img/logo.png" alt="Logo" width="50" height="50"
                     class="d-inline-block align-text-top">
                <span class="ms-2 givefont">
                B L O O M
                </span>
            </a>
            <a href="https://github.com/JanaAngjelkoska/Knowledge-Graph-Editor" target="_blank"
               class="d-flex align-items-center bg-light givefont btn border-warning shadow border-2 hover givegradient givefont transition-transform">
                <img src="./img/github.png" alt="Logo" width="25" height="25"
                     class="d-inline-block align-text-top">
                <span class="ms-2 text-dark text fw-bold">
                    Project
                    </span>
            </a>
        </nav>

        <div class="row w-75 mt-5 mx-auto align-items-center">
            <div class="col-6 text-center text-md-start">
                <h1 class="fw-light display-4 text-capitalize fade-in givefont">
                    Welcome to Bloom, a web platform
                </h1>
                <h2 class="display-5 text-lowercase fade-in givefont">
                    For editing <b class="text-shadow">knowledge graphs</b>.
                </h2>
                <a href="/editor" target="_blank"
                   class="px-4 py-3 fs-3 mt-5 btn bg-light fade-in-slower border-warning shadow border-2 hover givegradient givefont">
                    <i class="bi bi-tools"></i>
                    Open Editor
                </a>
            </div>

            <div class="fade-in-slower col-6 text-center imagediv shadow">
                <span class="d-flex justify-content-end">
                    <a href="/editor" class="mt-2">
                        <i class="bi bi-arrow-up-right-square me-1 fs-2 text-secondary"></i>
                    </a>
                </span>
                <img src="./img/land.png" alt="a knowledge graph" width="1200" class="img-fluid">
                <span class="d-inline-block bg-warning-subtle rounded text-dark fs-7 text-center givefont px-3 py-1 m-3">A portion of a knowledge graph of hospital systems</span>
            </div>

        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSb CRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>
</html>